.mainBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 555px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white);
    padding: 10px;
}