.imperBox {
    width: 439px;
    height: 38px;
    border-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.imperBox::placeholder {
    vertical-align: center;
    padding-left: 5px;
    color: #c4c4c4;
}