.App {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 555px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white);
    padding: 10px;
}

.photo {
    padding-top: 48px;
    width: 439px;
    height: 130px;
}

.jokeText {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #34394f;
    width: 439px;
    padding: 10px;
}



.btn {
  display: block;
  width: 439px;
  height: 58px;
  margin: 25px;
  border-radius: 6px;
  background-color: #34394f;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.selectBox {
    width: 439px;
    height: 58px;
}

.imperBox {
    width: 439px;
    height: 38px;
    border-color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.imperBox::placeholder {
    vertical-align: center;
    padding-left: 5px;
    color: #c4c4c4;
}